body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    }
    header {
        background-color: #c5be63;
        color: #5ea726;
        padding: 20px;
        }
        nav ul {
            list-style: none;
            display: flex;
            justify-content: space-around;
            }
            section {
                margin-bottom: 20px;
            }
            section#section1 {
                background-color: #35155e;
            }
            
            section#section2 {
                background-color: #00ff00;
            }
            
            section#section3 {
                background-color: #ff69b4;
            }
            
            section {
                padding: 20px;
                margin-bottom: 20px;
            }        